/* You can add global styles to this file, and also import other style files */
body {
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

.p-column-filter-menu-button{
  display: none !important;
}




/* .ng-tns-c71-1{
  width: 10px !important;
  height: 4em;
} */

.p-calendar .p-datepicker {
  min-width: 20% !important;
}

.p-datepicker-calendar-container .ng-tns-c71-1 .ng-star-inserted{
  height: 1.4em !important;
  width: 1.4em !important;
}