<p-card header="Creación de empleados" [style]="{'width': '100%', 'margin-bottom': '2em'}">

    <div class="p-grid p-fluid">
        <div class="p-md-5">

        </div>
        <div class="p-md-5">
        </div>
        <div class="p-md-2">
            <p-button (click)="showModalDialog()" icon="pi pi-plus-circle" label="Creación empleados"></p-button>
        </div>
    </div>


</p-card>




<p-card header="Empleados registrados" [style]="{'width': '100%', 'margin-bottom': '2em'}">

    <p-table #dt2 [value]="empleados" [scrollable]="true" scrollDirection="both" dataKey="id" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
        styleClass="p-datatable-empleados" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

        <ng-template pTemplate="header">
            <tr>
                <th class="ancho-columna">Primer apellido</th>
                <th class="ancho-columna">Segundo pellido</th>
                <th class="ancho-columna">Primer nombre</th>
                <th class="ancho-columna">Segundo nombre</th>
                <th class="ancho-columna">Pais del empleo</th>
                <th class="ancho-columna">Tipo identificaciòn</th>
                <th class="ancho-columna">Numero documento</th>
                <th class="ancho-columna">Correo electronico</th>

                <th class="ancho-columna">Fecha de ingreso</th>
                <th class="ancho-columna">Área</th>
                <th class="ancho-columna">Estado</th>
                <th class="ancho-columna">Fecha y hora registro</th>
                <th class="ancho-columna">Fecha de actualización</th>
            </tr>
            <tr>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="primerApellido"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="segundoApellido"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="primerNombre"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="segundoNombre"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="paisEmpleo"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="tipoIdentificacion"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="numeroDocumento"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="correoElectonico"></p-columnFilter>
                </th>



                <th class="ancho-columna">
                    <p-columnFilter type="text" field="fechaIngreso"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="area"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="estado"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="fechaHoraRegistro"></p-columnFilter>
                </th>
                <th class="ancho-columna">
                    <p-columnFilter type="text" field="fechaActualizacion"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empleados>
            <tr>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.primerApellido}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.segundoApellido}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.primerNombre}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.segundoNombre}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.paisEmpleo}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.tipoIdentificacion}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.numeroDocumento}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.correoElectonico}}</span>
                </td>

                <td class="ancho-columna">
                    <span class="image-text">{{empleados.fechaIngreso | date: 'dd/MM/yyyy'}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.area}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.estado}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.fechaHoraRegistro | date: 'dd/MM/yyyy'}}</span>
                </td>
                <td class="ancho-columna">
                    <span class="image-text">{{empleados.fechaActualizacion | date: 'dd/MM/yyyy'}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No se encontraron empleados.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>


<p-dialog header="Creación de empleados" [(visible)]="displayModal" [modal]="true"
    [style]="{width: '80%',height: '100em',top:10}" [draggable]="false" [resizable]="false">

    <br><br><br>
    <div class="p-grid p-fluid">
        <div class="p-md-6 p-col-12 p-mb-2">
            <label for="basic">Fecha de ingreso</label>
            <p-calendar inputId="basic" [(ngModel)]="inputEmpleados.fechaIngreso"></p-calendar>
        </div> 
        <div class="p-md-6 p-col-12 p-mb-2">
            <label for="">.</label>
            <p-dropdown [options]="tiposDocument" [(ngModel)]="selectedTipoDocument" optionLabel="name" [filter]="true"
                filterBy="name" [showClear]="true" placeholder="Tipo de Documento">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedTipoDocument">
                        <div>{{selectedTipoDocument.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-md-6 p-col-12 p-mb-2">
            <p-dropdown [options]="pais" [(ngModel)]="selectedPais" optionLabel="name" [filter]="true" filterBy="name"
                [showClear]="true" placeholder="Pais del empleo">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedPais">
                        <div>{{selectedPais.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-md-6 p-col-12 p-mb-2">
            <p-dropdown [options]="area" [(ngModel)]="selectedArea" optionLabel="name" [filter]="true" filterBy="name"
                [showClear]="true" placeholder="Área">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedArea">
                        <div>{{selectedArea.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-md-6 p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="float-input" type="text" id="numDocumento" name="numDocumento" pattern="^[A-Za-z0-9_.]+$"
                    maxlength="20" [(ngModel)]="inputEmpleados.numeroDocumento" (ngModelChange)="validationInput()"
                    pInputText>
                <label for="float-input">Numero documento</label>
            </span>
            <span class="error-message" *ngIf="b_num_documento">Es el número de identificación del empleado, debe
                ser alfanumérico permitiendo los siguientes conjuntos de caracteres (a-z / A-
                Z / 0-9 / -).</span>
        </div>
        <div class="p-md-6 p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="float-input" type="text" id="primNombre" name="primNombre" pattern="^[A-ZA-Z]+$"
                    maxlength="20" [(ngModel)]="inputEmpleados.primerNombre" (ngModelChange)="validationInput()"
                    pInputText>
                <label for="float-input">Primer nombre</label>
            </span>
            <span class="error-message" *ngIf="b_prim_nombre">Solo permite caracteres de la A a la Z, mayúscula, sin
                acentos ni Ñ.</span>
        </div>
        <div class="p-md-6 p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="float-input" type="text" id="segNombre" name="segNombre" pattern="^[A-ZA-Z\s]+$"
                    maxlength="50" [(ngModel)]="inputEmpleados.segundoNombre" (ngModelChange)="validationInput()"
                    pInputText>
                <label for="float-input">Segundo nombre</label>
            </span>
            <span class="error-message" *ngIf="b_seg_nombre">Solo permite caracteres de la A a la Z, mayúscula, sin
                acentos ni Ñ.</span>
        </div>
        <div class="p-md-6 p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="float-input" type="text" id="primApellido" name="primApellido" pattern="^[A-ZA-Z]+$"
                    maxlength="20" [(ngModel)]="inputEmpleados.primerApellido" (ngModelChange)="validationInput()"
                    pInputText>
                <label for="float-input">Primer apellido</label>
            </span>
            <span class="error-message" *ngIf="b_prim_apellido">Solo permite caracteres de la A a la Z, mayúscula, sin
                acentos ni Ñ.</span>
        </div>
        <div class="p-md-6 p-col-12 p-mb-2">
            <span class="p-float-label">
                <input id="float-input" type="text" id="segApellido" name="segApellido" pattern="^[A-ZA-Z\s]+$"
                    maxlength="50" [(ngModel)]="inputEmpleados.segundoApellido" (ngModelChange)="validationInput()"
                    pInputText>
                <label for="float-input">Segundo pellido</label>
            </span>
            <span class="error-message" *ngIf="b_seg_apellido">Solo permite caracteres de la A a la Z, mayúscula, sin
                acentos ni Ñ.</span>
        </div>
    </div>
    <br><br><br><br>
    <ng-template pTemplate="footer">
        <p-button label="Crear" (click)="postEmpleados(); displayModal=false;">Crear</p-button>
    </ng-template>
</p-dialog>